<div class="container-fluid p-2">
  <div class="row p-2 justify-content-between align-items-center bg-dark text-white rounded-top">
    <div class="col-12 col-sm-6 pt-2 pb-1 py-sm-0 d-flex align-items-center">
    <a href="/post/{{id}}?context={{#if post_all}}/{{else}}/dashboard{{/if}}" class="fs-5 link-light fw-bold text-decoration-none post-title">
      {{title}}
    </a>
    </div>
    <div class="col-12 col-sm-6 pt-1 pb-2 py-sm-0 small-text text-start text-sm-end text-light">
      {{#if post_all}}
      posted by&nbsp;<b>{{user.username}}</b>&nbsp;on {{format_datetime created}}
      {{else}}
      posted on {{format_datetime created}}
      {{/if}}
    </div>
  </div>
  {{#if post_all}}
  <div class="row p-2 bg-light rounded-bottom">
  {{else}}
  <div class="row p-2 pb-0 bg-light">
  {{/if}}
    <p class="m-0 text-truncate post-content">
      {{content}}
    </p>
  </div>
  {{#unless post_all}}
  <div class="row p-2 pt-0 bg-light rounded-bottom">
    <hr class="my-2">
    <div class="d-flex justify-content-start">
    <a class="me-1 btn btn-sm btn-secondary edit" href="/edit/{{id}}"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit</a>
    <button class="ms-1 btn btn-sm btn-secondary delete" data-post-id="{{id}}"><i class="fa-solid fa-xmark"></i>&nbsp;Delete</button>
    </div>
  </div>
  {{/unless}}
</div>
