<div class="container-fluid p-2">
  <div class="row px-2 my-4 justify-content-center">
    <h2 class="col-12 text-white fw-bold">

      Tasks assigned to:
      {{username}}
    </h2>
  </div>
</div>
<div class="container-fluid p-4 pb-2 bg-light-grey">
  <div class="row justify-content-center py-2">
    <div class="col-12 d-flex justify-content-between align-items-center">
      <h4 class="fw-bold d-inline-block text-white">
        My Projects:
      </h4>
      <div>
        <a id="new_post" class="btn btn-secondary m-0" href="/edit">
        <i class="fa-solid fa-plus pe-2"></i>&nbsp;Draft A New project</a>
      </div>
    </div>
  </div>
</div>
<div
  id="post_container"
  class="container-fluid px-4 pb-4 bg-light-grey text-white"
>
  <div class="row">

    {{#each allProjects as |project|}}
      <div class="card bg-dark-glass m-2" style="width: 18rem;">
        <div class="card-body p-2 d-flex flex-column justify-content-between">
          <div>
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.description}}</p>
          </div>
          <div class="pt-4 pb-2">
            <a href="/projects/{{project.id}}" class="btn btn-secondary me-1">View</a>
            <a href="/edit/{{project.id}}" class="btn btn-secondary mx-1">Edit</a>
            <a href="" class="btn btn-secondary ms-1 delete" data-id="{{project.id}}">delete</a>
          </div>
        </div>
      </div>

    {{/each}}
  </div>
</div>
{{#if allProjects}}
  <script src="/js/deleteProject.js"></script>
{{/if}}