<div class="container-fluid p-0">
  <a href="{{context}}" class="text-white m-2 mb-0 d-block">&larr; Back</a>
  <div class="container-fluid m-0 mt-2 px-0 py-2 bg-light-grey">
    <div class="container-fluid m-0 p-0 my-2 p-4 bg-light">
    <h2 class="col-12 text-white fw-bold">
      {{title}}
    </h2>
    <div class="col-12 d-flex small-text">
      posted by&nbsp;<b>{{ user.username }}</b>&nbsp;on {{ format_datetime created }}
    </div>
    {{#if updated}}
    <div class="col-12 d-flex small-text">
      updated on {{ format_datetime updated }}
    </div>
    {{/if}}
    <p class="p-2 pt-4 m-0">
      {{ content }}
    </p>
    </div>
  </div>
  {{#if logged_in}}
  <div class="container-fluid p-2 px-4 pt-4 mt-4 bg-light-grey">
    <div class="row =">
      <div class="col-12 fs-5 fw-bold text-white">
          <u>Add a Comment</u>
      </div>
    </div>
    <div class="row">
      <form id="comment-form" class="col-12 p-3" data-post-id="{{ id }}">
        <div class="mb-3">
          <textarea class="form-control" placeholder="Comment here..." id="content" style="height:100px"></textarea>
        </div>
        <div class="d-flex align-items-center">
          <button type="submit" id="submit" class="btn btn-dark">Submit</button>
          <div id="err" class="p-2 m-0 form-text text-danger text-center"></div>
        </div>
      </form>
    </div>
  </div>
  {{/if}}
  <div class="container-fluid p-4">
    <div class="row">
      <div class="col-12 fs-5 fw-bold text-white">
        <u>Comments</u>
      </div>
    </div>
    {{#if comments}}
    {{#each comments as |comment|}}
    <div class="row bg-light-grey m-2 p-3 text-white">
      <p class="mb-0 comment-content">
        {{comment.content}}
      </p>
      <div class="col-12 small-text comment-signature text-white">
          &mdash; <b>{{comment.user.username}}</b> commented on {{format_datetime comment.created}} {{#if comment.updated}}(edited){{/if}}

      </div>
      {{#if ../logged_in}}
      {{#if (is_equal comment.user.id ../user_id) }}
      <div class="col-12 small-text text-white">
          <a href="" class="pe-1 text-white edit" data-comment-id="{{comment.id}}">edit</a>
          <a href="" class="text-white delete" data-comment-id="{{comment.id}}">delete</a>
      </div>
      {{/if}}
      {{/if}}
    </div>
    {{/each}}
    {{else}}
      No comments yet.
    {{/if}}
  </div>
</div>
{{#if logged_in}}
<script src="/assets/js/publish-comment.js"></script>
<script src="/assets/js/delete-comment.js"></script>
<script src="/assets/js/edit-comment.js"></script>
{{/if}}